<section class="crawler row">
    <div class=" col-8"> 
        <p >Crawler<p>     
        <h3>Surveillez tout ce que <br>
            vous souhaitez, en continu </h3>
        <p>Solutions d’automatisation de la collecte <br>
         et du traitement de vos sources d’informations.</p>
        
        <button>Découvrir crawler</button>
    </div>
    <img src="{{theme.path}}/assets/img/crawler-illu2x.png" alt="" >
</section>