<section class="intelligence row">
    
    <img class="icone-fleche" src="{{theme.path}}/assets/img/group-13.png" alt="" >

    <div class=" col-4"> 
        <h1>L'intelligence économique</h1>
        <span class="line">--</span>
    </div>
    <div class="col-6 intelligence__text">
        <h4>Tirez le meilleur parti d’une <br> 
            information colossale</h4>
        <p>Envie d’en savoir plus sur les opportunités qui s’offrent à 
        vous et les menaces auxquelles vous pourrez être confronté ?
        <br><br>
        L’Intelligence économique vous permet d’appréhender au mieux votre environnement
        et d’anticiper les évolutions dans les domaines clés : marché, innovation,
        réglementation, digital, territoire, stratégie, etc.
        </p>
    </div>

    <img class="arrondi-font-img" src="{{theme.path}}/assets/img/bg-arrondi-bleu.png" alt="" >

</section>