<section class="pilot row">
    <img src="{{theme.path}}/assets/img/pilot-illu2x.png" alt="" >
    <img class="haricot" src="{{theme.path}}/assets/img/haricot-jaune.png" alt="" >

    <div class=" col-8"> 
        <p>Pilot<p>     
        <h3>Transformez l’information <br>
         en données exploitables </h3>
        <p>Solution d’enrichissement, de modélisation et <br>
            de classement de contenus. </p>
        
        <button>Découvrir pilot</button>
    </div>
    
</section>