<section class="platform row">
    <div class=" col-5"> 
        <p >platform<p>     
        <h3>Pour chacun, la bonne info, <br>
            au bon format, au bon moment 
            </h3>
        <p>Solution de diffusion d'informations et <br>
         d'aide à la solution</p>
        
        <button>Découvrir platform</button>
    </div>
    <img src="{{theme.path}}/assets/img/platform-illu-newx2" alt="" >
    <img class="haricot-reverse" src="{{theme.path}}/assets\img\haricot-violet.png" alt="" >
</section>