<header id="header" class="header" >
 {#  <h1 class="logo" role="banner">
    <a class="logo-link" href="/" rel="home">{{site.name}}</a>
  </h1> #}
  <a  href="/" rel="home"><img src="{{theme.path}}/assets/img/kbcrawl-logo.png" alt=""></a>
  <nav class="header__nav">
    <a href="*">Intelligence économique</a>
    <a href="*">Enjeux</a>
    <a href="*">Solutions</a>
    <a href="*">Qui sommes nous</a>
    <a href="*">Blog</a>
    <a href="*">Contact</a>
  </nav>
  <button class="header__button">Demander une démo</button>
  <select name="lang" class="uppercase header__opt-lang">
    <option value="" autocomplete>fr</option>
    <option value="en">en</option>
    
</select>

  {# {% include 'Partials/Components/_nav-main.twig' %} #}
</header>
