<main class="home ">

    {% include "Partials/Components/_exploitez.twig" %}
    {% include "Partials/Components/_intelligence.twig" %}
    {% include "Partials/Components/_crawler.twig" %}
    {% include "Partials/Components/_pilot.twig" %}

</main>